
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>Return</a>
           </div>
        </div>
        <div class="page-header-2"><br></br>
            <h2 class="page-2-text">Owner Registration</h2>
            <span class="page-2-word">Use the below form to create an account</span>
        </div>

        <!-- add user form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
